.obj-info.extended .leaflet-popup-content {
	width: 400px !important;
	min-height: 175px; }
.obj-info .leaflet-popup-close-button {
	display: none; }
.obj-info .leaflet-popup-content {
	width: 290px !important;
	min-height: 100px;
	margin: 0;
	padding: 5px 10px 17px;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }
.obj-info .leaflet-popup-content h4 {
	margin: 0 0 5px;
	font-size: 13px; }
.obj-info .contents {
	position: relative;
	height: 100%;
	overflow: hidden;
	width: 100%;}
.obj-info .contents > .content.active {
	display: block;
	height: 100%;
	min-height: 190px; }
.obj-info .contents > .content.active .cent{
	text-align: center;
	margin-top: 10px;}
.obj-info .contents > .content {
	position: relative; }
.obj-info .extra-actions {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 5px 10px; }
.obj-info .header1 .actions {
	float: right;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none; }
.obj-info .header1 .actions .svg-icon {
	float: none;
	width: 20px;
	height: 20px;
	opacity: 0.7;
	text-decoration: none;
	margin: 0 2px; }
.obj-info .header1 h4 {
	float: left;
	margin: 5px 0; }
.obj-info .rid-progress-wrap {
	background: #ddd; }
.obj-info .rid-progress-wrap .rid-progress.nobr {
	white-space: nowrap;
	margin-top: 10px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 20px;
	line-height: 14px;
	padding: 3px 5px;
	text-align: center;
	font-size: 11px;
	color: #333;
	background-color: #8df265;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.3) inset; }
.obj-info .subheader {
	margin: 0 0 5px;
	padding-bottom: 5px;
	line-height: 20px;
	border-bottom: 1px #ddd solid; }
.obj-info .staff-content {
	max-height: 170px;
	overflow: auto; }
.obj-info .back {
	display: inline-block;
	margin-right: 3px;
	cursor: pointer; }
.obj-info .back .icon-arrow-left {
	margin: 0;
	background-position: -240px -96px; }
.obj-info a {
	color: #0078A8;
	text-decoration: underline; }
.obj-info .indicators {
	padding: 0;
	font-size: 11px;
	width: 100%; }
.obj-info .indicators.connections {
	margin-top: 5px; }
.obj-info .indicators .svg-icon {
	left: 0;
	top: 1px;
	width: 16px;
	height: 16px;
	fill: #aaa; }
.obj-info .indicators .svg-icon.green{
	fill:green}
.obj-info .features ul {
	margin: 0;
	padding: 0;
	list-style: none; }
svg.svg-icon {
	fill: #646464;
	color: #ffffff;
	background: none; }
.svg-icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	font-style: normal;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-right: 5px;
	margin-bottom: 5px; }
.leaflet-container a {
	color: #0078A8; }
.leaflet-container .leaflet-popup-tip-container {
	margin-bottom: -20px; }
h4 {
	font-size: 14px;
	line-height: 14px; }
.row-fluid .span8 .functionH{
	max-height: 65px;}
.row-fluid .span8 .function span{
	float: right;
	width: 283px;}
@media (min-width: 1200px) {
	.row-fluid [class*="span"]:first-child {
		margin-left: 0; }
	.obj-info .features {
		font-size: 12px;
		color: #111; }
	.row-fluid {
		height: 160px; }
	.row-fluid .cent{
		text-align: center;}
	.row-fluid .span8 {
		width: 65.81196581196582%; }
	.row-fluid [class*="span"] {
		display: block;
		width: 100%;
		min-height: 30px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2.564102564102564%; }
	.span8 {
		width: 770px; }
	.row-fluid .span4 {
		width: 31.623931623931625%; } }
[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	vertical-align: text-top;
	background-repeat: no-repeat;
	margin-top: 1px; }
.svg-icon.svg-icon-target {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%23646464%22%20d%3D%22M24.938%2C18.667h-2.271c-0.359%2C0-0.672-0.132-0.938-0.396c-0.264-0.266-0.395-0.578-0.395-0.938v-2.667%20c0-0.361%2C0.131-0.674%2C0.395-0.938c0.266-0.265%2C0.578-0.396%2C0.938-0.396h2.271c-0.443-1.5-1.227-2.809-2.344-3.928%20c-1.117-1.117-2.428-1.898-3.928-2.344v2.271c0%2C0.361-0.131%2C0.673-0.395%2C0.938c-0.266%2C0.264-0.578%2C0.396-0.939%2C0.396h-2.667%20c-0.361%2C0-0.673-0.132-0.938-0.396c-0.264-0.265-0.396-0.576-0.396-0.938V7.061c-1.5%2C0.444-2.81%2C1.227-3.927%2C2.344%20c-1.118%2C1.119-1.899%2C2.428-2.344%2C3.928h2.271c0.36%2C0%2C0.674%2C0.133%2C0.938%2C0.396c0.264%2C0.263%2C0.396%2C0.576%2C0.396%2C0.938v2.667%20c0%2C0.36-0.132%2C0.673-0.396%2C0.938c-0.265%2C0.264-0.576%2C0.395-0.938%2C0.396H7.062c0.443%2C1.5%2C1.226%2C2.81%2C2.344%2C3.927%20c1.117%2C1.118%2C2.427%2C1.899%2C3.927%2C2.344v-2.271c0-0.36%2C0.132-0.673%2C0.396-0.937c0.265-0.265%2C0.576-0.396%2C0.938-0.396h2.667%20c0.361%2C0%2C0.674%2C0.131%2C0.939%2C0.396c0.262%2C0.264%2C0.395%2C0.576%2C0.395%2C0.937v2.271c1.5-0.443%2C2.811-1.226%2C3.928-2.344%20C23.711%2C21.477%2C24.492%2C20.167%2C24.938%2C18.667z%20M32%2C14.667v2.667c0%2C0.361-0.133%2C0.673-0.396%2C0.938s-0.576%2C0.396-0.938%2C0.396h-2.979%20c-0.516%2C2.236-1.588%2C4.17-3.221%2C5.803c-1.631%2C1.633-3.564%2C2.704-5.801%2C3.219v2.979c0%2C0.361-0.133%2C0.674-0.396%2C0.938%20C18.006%2C31.868%2C17.693%2C32%2C17.334%2C32h-2.667c-0.36%2C0-0.673-0.131-0.937-0.396c-0.265-0.264-0.396-0.576-0.396-0.938v-2.979%20c-2.236-0.515-4.17-1.586-5.802-3.219s-2.705-3.566-3.22-5.803H1.333c-0.361%2C0-0.673-0.132-0.938-0.396%20C0.132%2C18.005%2C0%2C17.693%2C0%2C17.332v-2.667c0-0.36%2C0.132-0.674%2C0.396-0.938c0.265-0.264%2C0.578-0.396%2C0.938-0.396h2.979%20c0.515-2.235%2C1.588-4.17%2C3.22-5.802c1.632-1.633%2C3.565-2.705%2C5.802-3.219V1.331c0-0.36%2C0.132-0.675%2C0.396-0.938%20C13.993%2C0.132%2C14.306%2C0%2C14.667%2C0h2.667c0.361%2C0%2C0.672%2C0.132%2C0.938%2C0.396c0.264%2C0.265%2C0.395%2C0.576%2C0.396%2C0.938v2.979%20c2.236%2C0.515%2C4.17%2C1.588%2C5.803%2C3.219c1.631%2C1.633%2C2.703%2C3.566%2C3.219%2C5.803h2.979c0.361%2C0%2C0.674%2C0.133%2C0.938%2C0.396%20C31.867%2C13.993%2C32%2C14.307%2C32%2C14.667z%22%2F%3E%3C%2Fsvg%3E); }
.svg-icon.svg-icon-cog {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%23646464%22%20d%3D%22M21.334%2C16c0-1.473-0.521-2.729-1.563-3.771c-1.043-1.041-2.299-1.563-3.771-1.563%20c-1.473-0.001-2.729%2C0.521-3.77%2C1.563c-1.043%2C1.043-1.563%2C2.299-1.563%2C3.771s0.521%2C2.729%2C1.563%2C3.771%20c1.041%2C1.041%2C2.297%2C1.563%2C3.77%2C1.563c1.472-0.002%2C2.728-0.521%2C3.771-1.563C20.813%2C18.729%2C21.334%2C17.473%2C21.334%2C16z%20M32%2C13.729v4.625%20c0%2C0.166-0.057%2C0.328-0.166%2C0.48c-0.111%2C0.152-0.25%2C0.242-0.416%2C0.27l-3.855%2C0.584c-0.264%2C0.75-0.533%2C1.381-0.811%2C1.896%20c0.484%2C0.694%2C1.229%2C1.653%2C2.229%2C2.877c0.141%2C0.166%2C0.207%2C0.34%2C0.207%2C0.521c0%2C0.18-0.061%2C0.34-0.188%2C0.479%20c-0.375%2C0.514-1.063%2C1.264-2.063%2C2.25s-1.652%2C1.479-1.959%2C1.479c-0.166%2C0-0.348-0.063-0.541-0.188l-2.875-2.25%20c-0.611%2C0.32-1.244%2C0.584-1.896%2C0.793c-0.223%2C1.889-0.424%2C3.18-0.604%2C3.875C18.967%2C31.805%2C18.715%2C32%2C18.313%2C32h-4.625%20c-0.193%2C0-0.363-0.061-0.51-0.178c-0.146-0.117-0.226-0.268-0.24-0.447l-0.582-3.834c-0.682-0.223-1.307-0.48-1.875-0.771L7.542%2C29%20c-0.14%2C0.125-0.313%2C0.188-0.521%2C0.188c-0.195%2C0-0.369-0.076-0.521-0.229c-1.75-1.584-2.896-2.75-3.438-3.5%20c-0.098-0.14-0.146-0.299-0.146-0.479c0-0.166%2C0.055-0.326%2C0.167-0.479c0.208-0.293%2C0.562-0.754%2C1.063-1.387%20c0.5-0.631%2C0.875-1.121%2C1.125-1.467c-0.375-0.695-0.66-1.383-0.854-2.063L0.604%2C19.02c-0.18-0.027-0.326-0.113-0.438-0.26%20S0%2C18.45%2C0%2C18.271v-4.627c0-0.166%2C0.056-0.326%2C0.167-0.479s0.243-0.243%2C0.396-0.271l3.875-0.582c0.193-0.64%2C0.465-1.278%2C0.813-1.918%20C4.696%2C9.604%2C3.953%2C8.645%2C3.022%2C7.52c-0.14-0.166-0.209-0.332-0.209-0.5c0-0.139%2C0.063-0.299%2C0.188-0.479%20c0.36-0.501%2C1.045-1.247%2C2.052-2.24c1.008-0.992%2C1.663-1.488%2C1.969-1.488c0.181%2C0%2C0.361%2C0.068%2C0.543%2C0.209L10.44%2C5.25%20c0.61-0.318%2C1.242-0.583%2C1.896-0.792c0.222-1.89%2C0.424-3.181%2C0.604-3.874C13.038%2C0.193%2C13.287%2C0%2C13.69%2C0h4.625%20c0.193%2C0%2C0.363%2C0.059%2C0.51%2C0.178c0.146%2C0.117%2C0.227%2C0.268%2C0.24%2C0.447l0.582%2C3.833c0.682%2C0.224%2C1.307%2C0.479%2C1.875%2C0.771L24.479%2C3%20c0.125-0.125%2C0.293-0.188%2C0.502-0.188c0.18%2C0%2C0.354%2C0.068%2C0.521%2C0.207c1.791%2C1.653%2C2.936%2C2.834%2C3.438%2C3.543%20c0.098%2C0.109%2C0.146%2C0.264%2C0.146%2C0.457c0%2C0.168-0.057%2C0.326-0.168%2C0.479c-0.207%2C0.292-0.563%2C0.754-1.063%2C1.386%20c-0.5%2C0.633-0.875%2C1.121-1.125%2C1.469c0.361%2C0.694%2C0.646%2C1.375%2C0.855%2C2.041l3.813%2C0.584c0.182%2C0.027%2C0.326%2C0.115%2C0.438%2C0.26%20C31.943%2C13.385%2C32%2C13.548%2C32%2C13.729L32%2C13.729z%22%2F%3E%3C%2Fsvg%3E); }
.svg-icon.svg-icon-bell {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%22-2%20-2%2032%2032%22%20enable-background%3D%22new%20-2%20-2%2032%2032%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23646464%22%20d%3D%22M14.285%2C28.286C14.285%2C28.096%2C14.19%2C28%2C14%2C28c-0.703%2C0-1.308-0.252-1.813-0.759%20c-0.507-0.507-0.759-1.109-0.759-1.813c0-0.189-0.096-0.286-0.286-0.286s-0.286%2C0.097-0.286%2C0.286c0%2C0.869%2C0.308%2C1.61%2C0.921%2C2.223%20s1.354%2C0.92%2C2.223%2C0.92C14.19%2C28.571%2C14.285%2C28.476%2C14.285%2C28.286z%20M28.857%2C23.143c0%2C0.618-0.226%2C1.154-0.679%2C1.607%20s-0.989%2C0.679-1.607%2C0.679h-8c0%2C1.261-0.446%2C2.339-1.339%2C3.232C16.339%2C29.554%2C15.261%2C30%2C14%2C30c-1.262%2C0-2.34-0.446-3.232-1.339%20c-0.893-0.894-1.339-1.972-1.339-3.232h-8c-0.619%2C0-1.154-0.226-1.607-0.679c-0.452-0.453-0.679-0.989-0.679-1.607%20c0.595-0.5%2C1.179-0.989%2C1.625-1.571c0.984-1.282%2C2.211-3.083%2C2.849-4.964C4.5%2C14%2C4.856%2C9.94%2C4.856%2C8.286%20c0-1.81%2C0.697-3.491%2C2.09-5.044c1.393-1.554%2C3.22-2.498%2C5.482-2.831C11.953-0.656%2C12.734-2%2C14-2c1.344%2C0%2C2.016%2C1.344%2C1.571%2C2.41%20c2.263%2C0.333%2C4.09%2C1.277%2C5.482%2C2.831c1.393%2C1.553%2C1.959%2C3.24%2C2.089%2C5.044c0.209%2C2.911%2C0.441%2C5.714%2C1.241%2C8.322%20c0.549%2C1.79%2C2.116%2C4.351%2C2.849%2C4.964C27.795%2C22.042%2C28.261%2C22.643%2C28.857%2C23.143z%22%2F%3E%3C%2Fsvg%3E); }
.svg-icon.svg-icon-track {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%23646464%22%20d%3D%22M28.873%2C28.38c-1.864%2C0-3.374-1.514-3.374-3.383c0-0.682%2C0.201-1.314%2C0.546-1.847l-5.276-7.166%20c-0.098%2C0.009-0.196%2C0.014-0.295%2C0.014s-0.198-0.005-0.295-0.014l-4.73%2C4.958c0.345%2C0.532%2C0.548%2C1.168%2C0.548%2C1.849%20c0%2C1.868-1.511%2C3.383-3.375%2C3.383c-1.865%2C0-3.375-1.515-3.375-3.383c0-0.707%2C0.217-1.364%2C0.586-1.907L3.844%2C10.377%20c-0.073%2C0.005-0.147%2C0.008-0.222%2C0.008c-1.864%2C0-3.375-1.515-3.375-3.383s1.51-3.383%2C3.375-3.383c1.864%2C0%2C3.375%2C1.515%2C3.375%2C3.383%20c0%2C0.707-0.217%2C1.364-0.586%2C1.907l5.988%2C10.506c0.073-0.004%2C0.147-0.007%2C0.223-0.007c0.098%2C0%2C0.197%2C0.005%2C0.294%2C0.013l4.73-4.958%20c-0.345-0.531-0.546-1.166-0.546-1.847c0-1.869%2C1.51-3.384%2C3.374-3.384s3.375%2C1.515%2C3.375%2C3.384c0%2C0.682-0.204%2C1.316-0.549%2C1.847%20l5.278%2C7.165c0.097-0.008%2C0.195-0.013%2C0.295-0.013c1.864%2C0%2C3.375%2C1.516%2C3.375%2C3.383c0%2C1.868-1.511%2C3.384-3.375%2C3.384V28.38z%20%20M3.627%2C5.332c-0.915%2C0-1.655%2C0.741-1.655%2C1.656s0.741%2C1.655%2C1.655%2C1.655s1.655-0.741%2C1.655-1.655S4.542%2C5.332%2C3.627%2C5.332z%20%20M12.622%2C21.087c-0.915%2C0-1.656%2C0.741-1.656%2C1.655s0.741%2C1.656%2C1.656%2C1.656s1.655-0.742%2C1.655-1.656S13.536%2C21.087%2C12.622%2C21.087z%20%20M28.839%2C23.312c-0.914%2C0-1.655%2C0.741-1.655%2C1.655s0.741%2C1.655%2C1.655%2C1.655s1.655-0.741%2C1.655-1.655S29.753%2C23.312%2C28.839%2C23.312z%20%20M20.424%2C10.861c-0.914%2C0-1.656%2C0.741-1.656%2C1.655s0.742%2C1.655%2C1.656%2C1.655c0.913%2C0%2C1.655-0.741%2C1.655-1.655%20S21.337%2C10.861%2C20.424%2C10.861z%22%2F%3E%3C%2Fsvg%3E); }
.svg-icon.svg-icon-report {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cg%20id%3D%22Layer_2%22%3E%3C%2Fg%3E%3Cg%3E%20%3Cg%20id%3D%22Layer_1_1_%22%3E%20%20%3Cg%3E%20%20%20%3Cg%3E%20%20%20%20%3Cg%3E%20%20%20%20%20%3Cpolygon%20fill%3D%22%23646464%22%20points%3D%223.62%2C25.17%200%2C21.55%200%2C32%207.88%2C32%207.88%2C20.91%20%20%20%20%20%20%22%2F%3E%20%20%20%20%3C%2Fg%3E%20%20%20%3C%2Fg%3E%20%20%3C%2Fg%3E%20%20%3Cg%3E%20%20%20%3Cg%3E%20%20%20%20%3Cpolygon%20fill%3D%22%23646464%22%20points%3D%2216.306%2C21.764%2012.061%2C17.91%2012.061%2C32%2019.939%2C32%2019.939%2C18.51%20%20%20%20%20%22%2F%3E%20%20%20%3C%2Fg%3E%20%20%3C%2Fg%3E%20%20%3Cg%3E%20%20%20%3Cg%3E%20%20%20%20%3Cpolygon%20fill%3D%22%23646464%22%20points%3D%2228.68%2C9.77%2024.121%2C14.33%2024.121%2C32%2032%2C32%2032%2C12.902%20%20%20%20%20%22%2F%3E%20%20%20%3C%2Fg%3E%20%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3Cg%20id%3D%22Layer_3%22%3E%20%20%3Cpath%20fill%3D%22%23646464%22%20d%3D%22M32.002%2C8.813c0%2C0.264-0.123%2C0.45-0.369%2C0.557c-0.244%2C0.107-0.469%2C0.061-0.67-0.141L28.68%2C6.945%20%20%20L16.734%2C18.889c-0.125%2C0.125-0.271%2C0.189-0.435%2C0.189c-0.163%2C0-0.308-0.064-0.433-0.189l-4.396-4.396l-7.85%2C7.851l-3.623-3.623%20%20%20L11.037%2C7.68c0.126-0.126%2C0.271-0.188%2C0.435-0.188c0.162%2C0%2C0.308%2C0.063%2C0.434%2C0.188l4.396%2C4.396l8.756-8.754l-2.283-2.284%20%20%20c-0.201-0.201-0.248-0.425-0.141-0.67C22.738%2C0.123%2C22.926%2C0%2C23.188%2C0h8.814%22%2F%3E%20%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E); }
.svg-icon.svg-icon-circle-remove {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%23646464%22%20d%3D%22M23.938%2C20.708c0-0.36-0.133-0.673-0.396-0.937L19.771%2C16l3.771-3.771c0.265-0.264%2C0.396-0.576%2C0.396-0.937%20c0-0.375-0.133-0.694-0.396-0.958l-1.875-1.875c-0.265-0.264-0.583-0.396-0.958-0.396c-0.361%2C0-0.674%2C0.133-0.938%2C0.396L16%2C12.229%20l-3.771-3.771c-0.265-0.265-0.576-0.396-0.938-0.396c-0.375%2C0-0.693%2C0.131-0.959%2C0.396l-1.875%2C1.875%20c-0.264%2C0.265-0.396%2C0.583-0.396%2C0.958c0%2C0.361%2C0.133%2C0.674%2C0.396%2C0.938L12.229%2C16l-3.771%2C3.771%20c-0.265%2C0.264-0.396%2C0.574-0.396%2C0.937c0%2C0.375%2C0.131%2C0.694%2C0.396%2C0.959l1.875%2C1.875c0.265%2C0.265%2C0.584%2C0.396%2C0.959%2C0.396%20c0.36%2C0%2C0.674-0.131%2C0.938-0.396l3.771-3.771l3.771%2C3.771c0.265%2C0.265%2C0.576%2C0.396%2C0.938%2C0.396c0.375%2C0%2C0.694-0.131%2C0.958-0.396%20l1.875-1.875C23.805%2C21.402%2C23.938%2C21.083%2C23.938%2C20.708z%20M32%2C16c0%2C2.902-0.715%2C5.58-2.146%2C8.031%20c-1.431%2C2.451-3.371%2C4.393-5.822%2C5.822C21.579%2C31.285%2C18.902%2C32.001%2C16%2C32c-2.902%2C0-5.58-0.716-8.031-2.146%20s-4.393-3.371-5.822-5.822C0.715%2C21.579%2C0%2C18.902%2C0%2C16s0.715-5.58%2C2.146-8.031c1.431-2.451%2C3.371-4.393%2C5.822-5.822%20C10.42%2C0.715%2C13.098%2C0%2C16%2C0s5.579%2C0.715%2C8.031%2C2.146c2.451%2C1.431%2C4.393%2C3.371%2C5.822%2C5.822C31.284%2C10.42%2C32%2C13.098%2C32%2C16z%22%2F%3E%3C%2Fsvg%3E); }