div(class="modal" id='loading')
  div(class="modal-dialog")
    div(class="modal-content")
      div(class="load")
        i(class="fa-4x fas fa-cog fa-spin")
      div(class="modal-body")
        div Производится построение маршрута,
        | пожалуйста подождите.

