doctype html
html
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    link(rel="shortcut icon" href="./images/favicon.png")
    title
      | Уборочная техника
  body
    //div(role='tabpanel')
      include ../components/tab/tabpanel
      div(class="tab-content")
        div(role="tabpanel" class="tab-pane active" id="mechanical")
          include ../components/modal/modal
          include ./header/header
          div(data-role="content" style="padding:0;")
            include ./map/map
            include ../components/aside/aside
        div(role="tabpanel" class="tab-pane" id="manual")
    include ../components/modal/modal
    include ../components/polygon/modal
    include ./header/header
    div(data-role="content" style="padding:0;")
      include ./map/map
      include ../components/aside/aside