div(class="modal fade" id="auth" tabindex="-1" role="dialog")
  div(class="modal-dialog")
    div(class="modal-content")
      div(class="modal-header")
        h4(class="modal-title") Авторизация(МРУТ ДСП)
      div(class="modal-body")
        form(role="form" class="formAuth" name="authorization")
          div(class="form-group has-feedback")
            div(class="col-xs-6")
              div(class="input-group")
                div(class="input-group-prepend")
                  span(class="input-group-text" id="inputGroupPrepend1")
                    i(class="fas fa-user-circle")
                input(type="text" class="clear form-control" name="username" id="Username" placeholder="Имя" aria-describedby="inputGroupPrepend1" required="required")
          div(class="form-group has-feedback")
            div(class="col-xs-6")
              div(class="input-group pass")
                div(class="input-group-prepend")
                  span(class="input-group-text" id="inputGroupPrepend2")
                    i(class="fa fa-key")
                input(type="password" class="clear form-control" name="password" id="Password" placeholder="Пароль" aria-describedby="inputGroupPrepend2" required="required")
                span(class="input-group-btn")
                  button(id= "show_password" class="btn btn-secondary" type="button")
                    i(class="fa fa-eye")
          input(class="checkbox" id="checkboxID" type="checkbox" value="remember-me")
          label(for="checkboxID") Запомнить
      div(class="modal-footer")
        button(id="save" type="button" class="btn btn-primary") Вход