div(class="modal" id='errorCreate')
  div(class="modal-dialog")
    div(class="modal-content")
      div(class="modal-body")
        div Данные по заданным параметрам, отсутствуют!
      div(class="modal-footer")
        button(type="button" class="btn btn-primary exit") Выйти

