@import "~tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css"
@import "../sass/variables"
@import "../sass/mixin"

.modal-dialog
  .body_date__time-range
    position: relative
    .date_form
      float: left
      &:first-child
        margin-right: 10px
      .datepicker
        .ui-datepicker
          height: 242px
          width: 228px
    .control-group
      margin-top: 5px
      .date
        display: inline
        .bootstrap-datetimepicker-widget.dropdown-menu

        .time
          width: 60px
          height: 30px
          position: relative
          vertical-align: top
          display: inline-block
          font-size: 13px
        .bttn
          margin-left: -5px
          display: inline-block
#loading
  text-align: center
  i
    margin: 22% 0
    color: #ffffff
    z-index: 4000