
ul(class="nav nav-tabs nav-justified" role="tablist")
  li(role="presentation" class="active")
    a(href="#mechanical" aria-controls="mechanical" role="tab" data-toggle="tab")
      span(class="mapText") Механическая уборка
  li(role="presentation")
    a(href="#manual" aria-controls="manual" role="tab" data-toggle="tab")
      span(class="mapText") Ручная уборка