div(class="modal" id='easyButton')
  div(class="modal-dialog")
    div(class="modal-content")
      div(class="modal-body")
        ul(class="nav nav-pills nav-fill")
          li(class="nav-item summer")
            a(class="nav-link d-sm-none icon_system" href="#summer-list" data-toggle="pill" role="tab" aria-controls="summer")
              i(class="fa fa-info" aria-hidden="true")
            a(class="nav-link active d-sm-block d-none" href="#summer-list" id="summer-list-tab" data-toggle="pill" role="tab" aria-controls="summer") Функции летнего периода
          li(class="nav-item winter")
            a(class="nav-link d-sm-none icon_info" href="#winter-list" data-toggle="pill" role="tab" aria-controls="winter")
              i(class="fa fa-handshake-o " aria-hidden="true")
            a(class="nav-link d-sm-block d-none" href="#winter-list" id="winter-list-tab" data-toggle="pill" role="tab" aria-controls="winter") Функции зимнего периода
        div(class="tab-content")
          div(class="tab-pane fade show active" id="summer-list"  role="tabpanel" aria-labelledby="system-tab")
            div(class='row')
              div(class='col-12 colFunc')
                div(class="list-group summerList" role="tablist")
          div(class="tab-pane fade show active" id="winter-list"  role="tabpanel" aria-labelledby="system-tab")
            div(class='row')
              div(class='col-12 colFunc')
                div(class="list-group winterList" role="tablist")
      div(class="modal-footer")
        button(type="button" class="btn btn-outline-light clean") Сбросить
        button(type="button" class="btn btn-primary yes") Выбрать
        button(type="button" class="btn btn-primary no") Отмена
