nav(class="navbar navbar-expand{-sm|-md|-lg|-xl} navbar-light bg-light")
  div(class="container header")
    div(class="row")
      div(class="col-2 col-left")
        i(class="fas fa-bars")
      div(class="col col-middle")
        div(class="context")
          form(id="search" class="form-inline search" action="search")
            i(class="fas fa-search")
            div(id="search_clear" class="search-input")
            a(class="button-switch")
              span(class="fas fa-exchange-alt")
      div(class="col-2 col-right")
        i(class="fas fa-cog")