
div(class="sidebar-left")
  div(class="sidebar-left-wrapper")
    div(class="sidebar-left-wrapper__head")
      h3 Администратор
    div(class="sidebar-left-wrapper__tree")
      button(class="widgets-item")
        span
          i(class="fa fa-home" aria-hidden="true") Консоль
      button(class="widgets-item")
        span
          i(class="fa fa-desktop" aria-hidden="true") Виджеты
        span(class="widget-update") Обновления
      button(class="widgets-item")
        span
          i(class="fa fa-envelope" aria-hidden="true") Входящие звонки
        span(class="widget-notify") 117
      button(class="widgets-item")
        span
          i(class="fa fa-sliders" aria-hidden="true") Оформление
